<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Why Not</title>
  <link rel="stylesheet" href="/assets/styles.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <span> - </span>
      <a href="/page/about">About</a>
      <span> - </span>
      <a href="/?tag=programming">Programming</a>
    </nav>
    <hr class="nav-split" />
    {{> page}}
    <hr class="nav-split" />
    <div class="footer">
      Welcome to my website! I like to program.
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/autoloader/prism-autoloader.min.js" defer></script>
</body>

</html>
