{{#*inline "page"}}
<div class="post-header mb-4">
  <h1>{{ title }}</h1>
  <a class="text-on" href="/?tag={{ tag }}">#{{ tag }}</a>
</div>
<div class="contents">
  {{{ ~content~ }}}
</div>
{{/inline}}
{{> base }}
